.contact-us-footer{
    background-color: #212529;
    display: flex;
    flex-direction: row;
    gap:142px;
    justify-content: center;
    align-items: start;
    padding: 106px 208px 106px 70px;
}
.contacts{
    color: #E5E5E5;
    font-family: "Lora", serif;
    display: flex;
    flex-direction: column;
    gap:16px;
}
.contacts h1{
    font-size: 18px;
    font-weight: 700;
    margin: 0px;
}
.contacts p{
    font-size: 12px;
    font-weight: 400;
    margin: 0px;
}
.connections{
    display: flex;
    flex-direction: row;
    gap:18px
}
.connections img{
    width: 20px;
}
.sub-footer{
    background-color: #343A40;
    color: #E5E5E5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Lora", serif;
    padding: 31px 70px 31px 70px;
}
.sub-footer h1{
    font-size: 14px;
    font-weight: 700;
    margin: 0px; 
}
.sub-footer p{
    font-size: 14px;
    font-weight: 400;
    margin: 0px; 
}