@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap");

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "League Spartan", sans-serif, "Lora", serif, "Roboto";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.container{
  width: 100%;
  margin: 0px auto;
  padding: 0px 20px
}
.wide{
  max-width: 1440px;
}
.medium{
  max-width: 1300px;
}